@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

.no-text-select,
.no-text-select * {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
* {
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.no-text-select,
.no-text-select * {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
